
body {
  background-color: #e9edc9;
  margin: 0px;
  padding: 0px;
}

.contacts {
  background-color: #fff6bd;
  /* background-color: red; */
  height: 90px;
  position: relative;
  margin: 10px 5px;
  border-radius: 20px;
}
.contacts * {
  display: inline-block;
}
.card {
  vertical-align: middle;
  font-family: "Tillana", cursive;
  font-size: 1.7rem;
  margin: 0;
  text-decoration: none;
  color: black;
}

.img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin: 10px 10px;
}
.name {
  font-size: 2.3rem;
  margin: 0 50px 0 20px;
}
.num{
  position: absolute;
  left: 33%;
  top: 25%;
}
.mail{
  position: absolute;
  right: 25%;
  top: 25%;
}
.web {
  position: absolute;
  right: 15px;
  top: 25%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;